.container {
    display: flex;
    justify-content: center;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    cursor: pointer;
    padding: 2rem;
    border-width: .3rem;
    border-radius: 1rem;
    border-color: lightgray;
    border-style: dashed;
    outline: none;
    transition: border 0.2s, background-color 0.2s;
    max-width: 50%;
}
.dropzone:hover {
    border-color: gray;
    background-color: #eeeeee1a;
}

.dropzone svg {
    height: 2.5rem;
    width: 2.5rem;
    color: gray;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.download .max-docs {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: lightgray;
    text-align: center;
}

.selectFile {
    display: flex;
    align-items: center;

    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.7rem;
}

.selectFile svg {
    height: 2rem;
    width: 2rem;
    color: white;
}

.dropzone p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    white-space: pre-wrap;
    text-align: center;
    margin: 0;
}

.active {
    border-style: solid;
    border-width: .3rem;
    border-color: lightgray;
}