.selectContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#documentType {
    padding: .6rem;
    max-width: 20rem;
    min-width: 18rem;
}

#formControlOptional {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}